@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Global Variables */
    --sans-font-features: "calt" 1, "case" 0, "ccmp" 1, "ss03" 1, "cv01" 1, "cv05" 1, "cv06" 1, "cv08" 0, "cv11" 1, "cv12" 0, "cv13" 0;
    --mono-font-features: "calt" 1, "ss01" 1, "ss02" 1, "ss03" 1, "ss05" 1, "ss19" 1, "zero" 1;

	/* Primary — Light Theme */
	/* Grayscale */
	--pmr-color-l-gray-10: hsla(36, 38%, 98%, 1);
	--pmr-color-l-gray-20: hsla(35, 36%, 96%, 1);
	--pmr-color-l-gray-30: hsla(35, 37%, 92%, 1);
	--pmr-color-l-gray-40: hsla(34, 34%, 90%, 1);
	--pmr-color-l-gray-50: hsla(36, 35%, 88%, 1);
	--pmr-color-l-gray-60: hsla(37, 38%, 83%, 1);
	--pmr-color-l-gray-70: hsla(34, 37%, 70%, 1);
	--pmr-color-l-gray-80: hsla(34, 29%, 60%, 1);
	--pmr-color-l-gray-90: hsla(31, 23%, 50%, 1);
	--pmr-color-l-gray-100: hsla(35, 28%, 40%, 1);
	--pmr-color-l-gray-110: hsla(34, 30%, 37%, 1);
	--pmr-color-l-gray-120: hsla(36, 32%, 30%, 1);
	--pmr-color-l-gray-130: hsla(31, 45%, 24%, 1);
	--pmr-color-l-gray-140: hsla(33, 54%, 17%, 1);

	--pmr-color-l-alpha-gray: hsla(34, 37%, 70%, 0.15);

	/* Red */
	--pmr-color-l-red-10: hsla(4, 59%, 64%, 1);
	--pmr-color-l-red-20: hsla(4, 72%, 55%, 1);
	--pmr-color-l-red-30: hsla(4, 56%, 48%, 1);
	--pmr-color-l-red-40: hsla(4, 72%, 35%, 1);

	--pmr-color-l-alpha-red: hsla(350, 84%, 63%, 0.2);

	/* Orange */
	--pmr-color-l-orange-10: hsla(26, 70%, 63%, 1);
	--pmr-color-l-orange-20: hsla(21, 81%, 59%, 1);
	--pmr-color-l-orange-30: hsla(18, 69%, 50%, 1);
	--pmr-color-l-orange-40: hsla(18, 96%, 35%, 1);

	--pmr-color-l-alpha-orange: hsla(27, 100%, 50%, 0.2);

	/* Yellow */
	--pmr-color-l-yellow-10: hsla(43, 71%, 67%, 1);
	--pmr-color-l-yellow-20: hsla(43, 83%, 57%, 1);
	--pmr-color-l-yellow-30: hsla(40, 79%, 47%, 1);
	--pmr-color-l-yellow-40: hsla(40, 98%, 36%, 1);

	--pmr-color-l-alpha-yellow: hsla(44, 100%, 50%, 0.2);

	/* Green */
	--pmr-color-l-green-10: hsla(148, 30%, 65%, 1);
	--pmr-color-l-green-20: hsla(148, 48%, 47%, 1);
	--pmr-color-l-green-30: hsla(149, 50%, 39%, 1);
	--pmr-color-l-green-40: hsla(153, 65%, 29%, 1);

	--pmr-color-l-alpha-green: hsla(74, 69%, 44%, 0.2);

	/* Blue */
	--pmr-color-l-blue-10: hsla(197, 39%, 56%, 1);
	--pmr-color-l-blue-20: hsla(202, 66%, 48%, 1);
	--pmr-color-l-blue-30: hsla(200, 64%, 37%, 1);
	--pmr-color-l-blue-40: hsla(205, 85%, 25%, 1);

	--pmr-color-l-alpha-blue: hsla(186, 64%, 46%, 0.2);

	/* Violet */
	--pmr-color-l-violet-10: hsla(280, 43%, 76%, 1);
	--pmr-color-l-violet-20: hsla(277, 35%, 59%, 1);
	--pmr-color-l-violet-30: hsla(275, 37%, 43%, 1);
	--pmr-color-l-violet-40: hsla(265, 70%, 30%, 1);

	--pmr-color-l-alpha-violet: hsla(236, 100%, 72%, 0.2);

	/* Primary — Dark Theme */
    /* Grayscale */
    --pmr-color-d-gray-10: hsla(32, 48%, 85%, 1);
    --pmr-color-d-gray-20: hsla(34, 39%, 74%, 1);
    --pmr-color-d-gray-30: hsla(34, 31%, 68%, 1);
    --pmr-color-d-gray-40: hsla(35, 27%, 55%, 1);
    --pmr-color-d-gray-50: hsla(34, 24%, 40%, 1);
    --pmr-color-d-gray-60: hsla(33, 27%, 30%, 1);
    --pmr-color-d-gray-70: hsla(31, 27%, 24%, 1);
    --pmr-color-d-gray-80: hsla(28, 22%, 18%, 1);
    --pmr-color-d-gray-90: hsla(33, 20%, 16%, 1);
    --pmr-color-d-gray-100: hsla(30, 19%, 14%, 1);
    --pmr-color-d-gray-110: hsla(30, 17%, 13%, 1);
    --pmr-color-d-gray-120: hsla(29, 16%, 12%, 1);
    --pmr-color-d-gray-130: hsla(24, 18%, 10%, 1);
    --pmr-color-d-gray-140: hsla(32, 21%, 8%, 1);

    --pmr-color-d-alpha-gray: hsla(34, 24%, 40%, 0.2);

    /* Red */
    --pmr-color-d-red-10: hsla(5, 94%, 73%, 1);
    --pmr-color-d-red-20: hsla(4, 91%, 67%, 1);
    --pmr-color-d-red-30: hsla(4, 88%, 61%, 1);
    --pmr-color-d-red-40: hsla(2, 75%, 52%, 1);

    --pmr-color-d-alpha-red: hsla(350, 84%, 63%, 0.2);

    /* Orange */
    --pmr-color-d-orange-10: hsla(26, 85%, 58%, 1);
    --pmr-color-d-orange-20: hsla(24, 84%, 50%, 1);
    --pmr-color-d-orange-30: hsla(22, 82%, 47%, 1);
    --pmr-color-d-orange-40: hsla(19, 81%, 41%, 1);

    --pmr-color-d-alpha-orange: hsla(27, 100%, 50%, 0.2);

    /* Yellow */
    --pmr-color-d-yellow-10: hsla(43, 69%, 63%, 1);
    --pmr-color-d-yellow-20: hsla(42, 79%, 51%, 1);
    --pmr-color-d-yellow-30: hsla(40, 78%, 48%, 1);
    --pmr-color-d-yellow-40: hsla(38, 76%, 42%, 1);

    --pmr-color-d-alpha-yellow: hsla(44, 100%, 50%, 0.2);

    /* Green */
    --pmr-color-d-green-10: hsla(152, 51%, 54%, 1);
    --pmr-color-d-green-20: hsla(154, 57%, 42%, 1);
    --pmr-color-d-green-30: hsla(155, 78%, 29%, 1);
    --pmr-color-d-green-40: hsla(154, 75%, 26%, 1);

    --pmr-color-d-alpha-green: hsla(74, 69%, 44%, 0.2);

    /* Blue */
    --pmr-color-d-blue-10: hsla(191, 54%, 62%, 1);
    --pmr-color-d-blue-20: hsla(194, 59%, 56%, 1);
    --pmr-color-d-blue-30: hsla(197, 48%, 49%, 1);
    --pmr-color-d-blue-40: hsla(201, 45%, 40%, 1);

    --pmr-color-d-alpha-blue: hsla(186, 64%, 46%, 0.2);

    /* Violet */
    --pmr-color-d-violet-10: hsla(242, 52%, 69%, 1);
    --pmr-color-d-violet-20: hsla(241, 45%, 57%, 1);
    --pmr-color-d-violet-30: hsla(239, 45%, 51%, 1);
    --pmr-color-d-violet-40: hsla(238, 47%, 48%, 1);

    --pmr-color-d-alpha-violet: hsla(236, 100%, 72%, 0.2);

    /* Button */
    --btn-shadow-inset: 3px;
    --btn-normal-shadow: inset 1px;
    --btn-accent-shadow:    inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15),
                            inset 0px calc(-1 * var(--btn-shadow-inset)) 0px 2px rgba(0, 0, 0, 0.25),
                            0px 3px 6px -1.8px rgba(0, 0, 0, 0.2),
                            0px 7px 12px -3.8px rgba(0, 0, 0, 0.35);
}

@layer base {
    /* Inter */
    @font-face {
        font-family: 'Inter';
        src: url('/fonts/InterVariable.woff2') format('woff2');
        font-style: normal;
    }
    
    @font-face {
        font-family: 'Inter';
        src: url('/fonts/InterVariable-Italic.woff2') format('woff2');
        font-style: italic;
    }

    body {
        font-weight: 500;
        font-feature-settings: var(--sans-font-features);
    }

    /* Cascadia Code */
    @font-face {
        font-family: 'Cascadia Code';
        src: url('/fonts/CascadiaCode.woff2') format('woff2');
    }

    code {
        font-feature-settings: var(--mono-font-features);
    }

    /* Links */
    a {
        @apply underline-offset-2;
        text-decoration-color: color-mix(in srgb, currentColor 22%, transparent);
    }
}

@layer components {

}

@layer utilities {

}

/* Starlight Components */
:root,
::backdrop {
	/* Colors (dark mode) */
	--sl-color-white: var(--pmr-color-d-gray-10); /* “white” */
	--sl-color-gray-1: var(--pmr-color-d-gray-30);
	--sl-color-gray-3: var(--pmr-color-d-gray-50);
	--sl-color-gray-4: var(--pmr-color-d-gray-70);
	--sl-color-gray-5: var(--pmr-color-d-gray-100);
	--sl-color-gray-6: var(--pmr-color-d-gray-120);
	--sl-color-black: var(--pmr-color-d-gray-140);

	--sl-hue-orange: 41;
	--sl-color-orange-low: hsl(var(--sl-hue-orange), 39%, 22%);
	--sl-color-orange: hsl(var(--sl-hue-orange), 82%, 63%);
	--sl-color-orange-high: hsl(var(--sl-hue-orange), 82%, 87%);
	--sl-hue-green: 101;
	--sl-color-green-low: hsl(var(--sl-hue-green), 39%, 22%);
	--sl-color-green: hsl(var(--sl-hue-green), 82%, 63%);
	--sl-color-green-high: hsl(var(--sl-hue-green), 82%, 80%);
	--sl-hue-blue: 234;
	--sl-color-blue-low: hsl(var(--sl-hue-blue), 54%, 20%);
	--sl-color-blue: hsl(var(--sl-hue-blue), 100%, 60%);
	--sl-color-blue-high: hsl(var(--sl-hue-blue), 100%, 87%);
	--sl-hue-purple: 281;
	--sl-color-purple-low: hsl(var(--sl-hue-purple), 39%, 22%);
	--sl-color-purple: hsl(var(--sl-hue-purple), 82%, 63%);
	--sl-color-purple-high: hsl(var(--sl-hue-purple), 82%, 89%);
	--sl-hue-red: 339;
	--sl-color-red-low: hsl(var(--sl-hue-red), 39%, 22%);
	--sl-color-red: hsl(var(--sl-hue-red), 82%, 63%);
	--sl-color-red-high: hsl(var(--sl-hue-red), 82%, 87%);

	--sl-color-accent-low: var(--pmr-color-d-gray-90);
	--sl-color-accent: var(--pmr-color-d-gray-70);
	--sl-color-accent-high: var(--pmr-color-d-gray-60);

	--sl-color-text: var(--pmr-color-d-gray-20);
	--sl-color-text-accent: var(--sl-color-accent-high);
	--sl-color-text-invert: var(--sl-color-accent-low);
	--sl-color-bg: var(--sl-color-black);
	--sl-color-bg-nav: var(--sl-color-gray-6);
	--sl-color-bg-sidebar: var(--sl-color-gray-6);
	--sl-color-bg-inline-code: var(--sl-color-gray-5);
	--sl-color-bg-accent: var(--sl-color-accent-high);
	--sl-color-hairline-light: var(--sl-color-gray-5);
	--sl-color-hairline: var(--sl-color-gray-6);
	--sl-color-hairline-shade: var(--sl-color-black);

	--sl-color-backdrop-overlay: hsla(223, 13%, 10%, 0.66);

	/* Shadows (dark mode) */
	--sl-shadow-sm: 0px 1px 1px hsla(0, 0%, 0%, 0.12), 0px 2px 1px hsla(0, 0%, 0%, 0.24);
	--sl-shadow-md: 0px 8px 4px hsla(0, 0%, 0%, 0.08), 0px 5px 2px hsla(0, 0%, 0%, 0.08),
		0px 3px 2px hsla(0, 0%, 0%, 0.12), 0px 1px 1px hsla(0, 0%, 0%, 0.15);
	--sl-shadow-lg: 0px 25px 7px hsla(0, 0%, 0%, 0.03), 0px 16px 6px hsla(0, 0%, 0%, 0.1),
		0px 9px 5px hsla(223, 13%, 10%, 0.33), 0px 4px 4px hsla(0, 0%, 0%, 0.75),
		0px 4px 2px hsla(0, 0%, 0%, 0.25);

	/* Text size and line height */
	--sl-text-xs: 0.8125rem; /* 13px */
	--sl-text-sm: 0.875rem; /* 14px */
	--sl-text-base: 1rem; /* 16px */
	--sl-text-lg: 1.125rem; /* 18px */
	--sl-text-xl: 1.25rem; /* 20px */
	--sl-text-2xl: 1.5rem; /* 24px */
	--sl-text-3xl: 1.8125rem; /* 29px */
	--sl-text-4xl: 2.1875rem; /* 35px */
	--sl-text-5xl: 2.625rem; /* 42px */
	--sl-text-6xl: 4rem; /* 64px */

	--sl-text-body: var(--sl-text-base);
	--sl-text-body-sm: var(--sl-text-xs);
	--sl-text-code: var(--sl-text-sm);
	--sl-text-code-sm: var(--sl-text-xs);
	--sl-text-h1: var(--sl-text-4xl);
	--sl-text-h2: var(--sl-text-3xl);
	--sl-text-h3: var(--sl-text-2xl);
	--sl-text-h4: var(--sl-text-xl);
	--sl-text-h5: var(--sl-text-lg);

	--sl-line-height: 1.75;
	--sl-line-height-headings: 1.2;

	--sl-font-system: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
	--sl-font-system-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
		'Courier New', monospace;
	--__sl-font: var(--sl-font, var(--sl-font-system)), var(--sl-font-system);
	--__sl-font-mono: var(--sl-font-mono, var(--sl-font-system-mono)), var(--sl-font-system-mono);

	/* Key layout values */
	--sl-nav-height: 3.5rem;
	--sl-nav-pad-x: 1rem;
	--sl-nav-pad-y: 0.75rem;
	--sl-mobile-toc-height: 3rem;
	--sl-sidebar-width: 18.75rem;
	--sl-sidebar-pad-x: 1rem;
	--sl-content-width: 45rem;
	--sl-content-pad-x: 1rem;
	--sl-menu-button-size: 2rem;
	--sl-nav-gap: var(--sl-content-pad-x);
	/* Offset required to show outline inside an element instead of round the outside */
	--sl-outline-offset-inside: -0.1875rem;

	/* Global z-index values */
	--sl-z-index-toc: 4;
	--sl-z-index-menu: 5;
	--sl-z-index-navbar: 10;
	--sl-z-index-skiplink: 20;
}

:root[data-theme='light'],
[data-theme='light'] ::backdrop {
	/* Colours (light mode) */
	--sl-color-white: var(--pmr-color-l-gray-140);
	--sl-color-gray-1: var(--pmr-color-l-gray-120);
	--sl-color-gray-2: var(--pmr-color-l-gray-100);
	--sl-color-gray-3: var(--pmr-color-l-gray-90);
	--sl-color-gray-4: var(--pmr-color-l-gray-70);
	--sl-color-gray-5: var(--pmr-color-l-gray-50);
	--sl-color-gray-6: var(--pmr-color-l-gray-30);
	--sl-color-gray-7: var(--pmr-color-l-gray-20);
	--sl-color-black: var(--pmr-color-l-gray-10);

	--sl-color-orange-high: hsl(var(--sl-hue-orange), 80%, 25%);
	--sl-color-orange: hsl(var(--sl-hue-orange), 90%, 60%);
	--sl-color-orange-low: hsl(var(--sl-hue-orange), 90%, 88%);
	--sl-color-green-high: hsl(var(--sl-hue-green), 80%, 22%);
	--sl-color-green: hsl(var(--sl-hue-green), 90%, 46%);
	--sl-color-green-low: hsl(var(--sl-hue-green), 85%, 90%);
	--sl-color-blue-high: hsl(var(--sl-hue-blue), 80%, 30%);
	--sl-color-blue: hsl(var(--sl-hue-blue), 90%, 60%);
	--sl-color-blue-low: hsl(var(--sl-hue-blue), 88%, 90%);
	--sl-color-purple-high: hsl(var(--sl-hue-purple), 90%, 30%);
	--sl-color-purple: hsl(var(--sl-hue-purple), 90%, 60%);
	--sl-color-purple-low: hsl(var(--sl-hue-purple), 80%, 90%);
	--sl-color-red-high: hsl(var(--sl-hue-red), 80%, 30%);
	--sl-color-red: hsl(var(--sl-hue-red), 90%, 60%);
	--sl-color-red-low: hsl(var(--sl-hue-red), 80%, 90%);

	--sl-color-accent-high: var(--pmr-color-l-gray-120);
	--sl-color-accent: vaR(--pmr-color-l-gray-90);
	--sl-color-accent-low: var(--pmr-color-l-gray-60);

	--sl-color-text: var(--pmr-color-l-gray-120);
	--sl-color-text-accent: var(--sl-color-accent);
	--sl-color-text-invert: var(--sl-color-black);
	--sl-color-bg-nav: var(--sl-color-gray-7);
	--sl-color-bg-sidebar: var(--sl-color-bg);
	--sl-color-bg-inline-code: var(--sl-color-gray-6);
	--sl-color-bg-accent: var(--sl-color-accent);
	--sl-color-hairline-light: var(--sl-color-gray-6);
	--sl-color-hairline-shade: var(--sl-color-gray-6);

	--sl-color-backdrop-overlay: hsla(225, 9%, 36%, 0.66);

	/* Shadows (light mode) */
	--sl-shadow-sm: 0px 1px 1px hsla(0, 0%, 0%, 0.06), 0px 2px 1px hsla(0, 0%, 0%, 0.06);
	--sl-shadow-md: 0px 8px 4px hsla(0, 0%, 0%, 0.03), 0px 5px 2px hsla(0, 0%, 0%, 0.03),
		0px 3px 2px hsla(0, 0%, 0%, 0.06), 0px 1px 1px hsla(0, 0%, 0%, 0.06);
	--sl-shadow-lg: 0px 25px 7px rgba(0, 0, 0, 0.01), 0px 16px 6px hsla(0, 0%, 0%, 0.03),
		0px 9px 5px hsla(223, 13%, 10%, 0.08), 0px 4px 4px hsla(0, 0%, 0%, 0.16),
		0px 4px 2px hsla(0, 0%, 0%, 0.04);
}

@media (min-width: 50em) {
	:root {
		--sl-nav-height: 4rem;
		--sl-nav-pad-x: 1.5rem;
		--sl-text-h1: var(--sl-text-5xl);
		--sl-text-h2: var(--sl-text-4xl);
		--sl-text-h3: var(--sl-text-3xl);
		--sl-text-h4: var(--sl-text-2xl);
	}
}

@media (min-width: 72rem) {
	:root {
		--sl-content-pad-x: 1.5rem;
		--sl-mobile-toc-height: 0rem;
	}
}

/* Button: Action */
.action {
    @apply font-semibold rounded-xl;
    padding: 0.5rem 1rem calc(0.5rem + var(--btn-shadow-inset)) 1rem;
}

.action.primary {
    box-shadow: var(--btn-accent-shadow);
}

/* Steps */
.sl-steps > li::before {
    @apply font-mono;
    font-feature-settings: var(--mono-font-features);
}